body{
    background-image:url(imagen2/rm380-07.jpg);
    font-family: 'Comfortaa', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Londrina+Solid:wght@100;300&family=Roboto:wght@300;400&family=Tilt+Prism&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
hr{
   border-color: #593fcf;
}
.logo{
    border-radius: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.menu{
    display: flex;
}
.menu a{
    display: flex;
    margin: 10px;
    padding: 8px;    
    color: #fff;
    padding: 8px 8px;
}
.descarga:hover, .active{
    background-color: #593fcf;
    border-radius: 10px;
    
}
.active{
    background-color: #593fcf;
    transition: 0.3s;
}
ul {
    list-style: none;
}
.foto2{
    border-radius: 50%;
    margin-bottom: 20px;  
}
.foto img{
    width: 300px;

}
h1{
    font-size: 48px;
    color: azure;
    font-size: 25px;
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 50px;
}
@media(min-width:1024px){
    h1{
        text-align: left;
        font-size: 48px;
    }
    .descripcion{
        flex-direction: row;
        text-align: left;
    }
    .descarga{
        text-align: left;
        border-radius: 10px;
        
    }
    #parrafo1{
        margin: 80px;
    }
    #parrafo1 p{
        font-size: 30px;
    }
    .esp{
        border: solid white;
        width: 480px;
    }
    .btn{
        display: none;
    }
}
@media(max-width: 1024px){
    .menu{
        display: none;
        flex-direction: column;
        text-align: center;
        top: 80px;
        right: 10px;
        scroll-behavior: smooth;
    }
    .btn{
       cursor: pointer;
       order: 2;
    }
    nav{
        position: absolute;
        top: 70px;
        right: 20px;
        width: auto;
    }
    .descarga{
        border-radius: 10px;
        
    }
    h1{
        text-align: center;
    }
    .logo{
        border: none;
        font-size: 25px;
        color: aliceblue;
        font-weight: 100;
    }
}
.ver{
    display: flex;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
main {
    max-width: 1200px;
    margin: auto;
}
#parrafo1{
    font-size: 30px;
    color: white; 
}
.descarga a{
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
    width: 160px;
    height: 30px;
    font-weight: 700;  
    transition: 0.5s; 
    border-radius: 20px;
    color: black;
}
.descarga a:hover{
    color: #fff;
}
@keyframes neon-animation {
    0% {
        box-shadow: 0 0 10px #593fcf, 0 0 20px  #593fcf, 0 0 40px  #593fcf, 0 0 80px  #593fcf, 0 0 120px  #593fcf, 0 0 200px  #593fcf, 0 0 300px  #593fcf;
    }
    100% {
        box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px  #593fcf, 0 0 80px  #593fcf, 0 0 130px  #593fcf, 0 0 200px  #593fcf;
    }
}
.descarga:hover{
    z-index: 100;
    animation: neon-animation 1s infinite alternate;
}
.contenido2{
    font-size: 30px;
    background-color: #593fcf;
    color: white; 
    border-radius: 20px;
    text-align: center;
    margin: 50px 50px 100px 50px;
    padding: 10px;
    border: solid white ;
}
h3{
    font-size: 40px;
    color: white;
    text-align: center;   
}
.lista1{
    font-size: 30px;
    background-color: #593fcf;
    color: white; 
    border-radius: 20px;
    text-align: center;
    margin: 50px 50px 100px 50px;
    padding: 2%;
    border: solid white;
}
@keyframes neon-animation {
    0% {
        box-shadow: 0 0 10px #593fcf, 0 0 20px  #593fcf, 0 0 40px  #593fcf, 0 0 80px  #593fcf, 0 0 120px  #593fcf, 0 0 200px  #593fcf, 0 0 300px  #593fcf;
    }
    100% {
        box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px  #593fcf, 0 0 80px  #593fcf, 0 0 130px  #593fcf, 0 0 200px  #593fcf;
    }
}
#consultas a{
    z-index: 0;   
    animation: neon-animation 1s infinite alternate;
}
#consultas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: auto; 
    margin: 20px;
}
#consultas a:hover{
    border-radius: 10px;
    background-color: #593fcf;
    height: 100px;
}
.img1, .img2, .img3{
    filter: invert(99%);
    width: 100px;
    margin : auto;
}
footer{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin: auto;
    padding: 1%;
    font-size: 30px;
}

